/* mnavigation */
#mnav ul.menu li
{
    background: none repeat scroll 0 0 transparent;
}
#navl {}
#navr {background: none;height:33px; background:url(../images/nav.jpg) 0 0 repeat-x}
#mnav {z-index:10; position:relative;}
#mnav ul {margin:0; padding:0; float:left;}
#mnav ul li {list-style:none;float:left;height:33px;position:relative; padding:0; margin:0; border-right:1px solid #2B2B2B;}
#mnav ul li a { display:block;padding:0 10px; margin:0;line-height:33px;color:#fff;font-weight:100;text-decoration:none;font-size:12px; text-shadow:1px 1px #000;   background: none repeat scroll 0 0 transparent;}
#mnav ul li.active {}
#mnav ul li.active a {color:#fff; background:url(../images/nav-a.jpg) 0 0 repeat-x}
#mnav ul li:hover {}
#mnav ul li a:hover{color:#fff;text-decoration:none !important;background:url(../images/nav-a.jpg) 0 0 repeat-x}
#mnav ul li ul {position:absolute;width:180px;left:-999em;border-top:0; margin:0; padding:0;}
#mnav ul li:hover ul, #menu ul li.parent  ul {left:0;}
#mnav ul li ul li {padding:0;height:auto;width:180px; margin:0; border:none;}
#mnav ul li:hover ul li a {text-shadow:none;}
#mnav ul li:hover ul li { background:none;}
#mnav ul li:hover ul li a, #mnav ul li ul li a, #mnav ul li.active ul li a{margin:0; padding:0 0 0 10px;height:24px;line-height:24px; background:#484848;border-bottom:1px solid #3a3a3a;color:#d1d1d1; font-size:11px;font-weight:normal;text-shadow:none;text-align: left;}
#mnav ul li ul li a:hover, #mnav ul li ul li.active a, #mnav ul li.active ul li a:hover, #mnav ul li.active ul li.active a {margin:0; padding:0 0 0 10px;height:24px;line-height:24px;background:#343434;color:#fff; font-size:11px;text-shadow:none;}
#mnav ul li ul ul, #mnav ul li:hover ul ul, #mnav ul li:hover ul ul ul, #mnav ul li:hover ul ul ul ul, #mnav ul li.sfHover ul ul, #mnav ul li.sfHover ul ul ul, #mnav ul li.sfHover ul ul ul ul {left:-999em;}